{% load i18n pages_tags %}

<ul class="nav nav-list navlist-menu-level-{{ branch_level }}">
{% for page in page_branch %}
{% if page.in_menu %}
{% if page.is_current_or_ascendant or not page.is_primary %}
<li class="
    {% if page.is_current %} active{% endif %}
    {% if page.is_current_or_ascendant %} active-branch{% endif %}
    " id="tree-menu-{{ page.html_id }}">
    {% if not page.is_primary %}
    <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
    {% endif %}
    {% page_menu page %}
</li>
{% endif %}
{% endif %}
{% endfor %}
</ul>
